{% extends 'main.html' %}
{% block title %}Home \ Alex Vesel{% endblock %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <h1>Alex Vesel</h1>
                <p>I am currently a software engineer at Tesla working on deep learning and computer vision on the Sensing team.</p>
                <p>I am a recent MSCS graduate from Stanford University specializing in AI. I received my B.S. in Electrical Engineering and Computer Science from UW-Madison.</p>
                <p>I spent Summer 2023 interning at Tesla working on positioning and computer vision for the vehicles and hand orientation algorithms for the Optimus robot. </p>
                <p>I enjoy working on challenging modeling problems.</p>
                <p>Feel free to contact me if you want to discuss anything.</p>
                <p>alex@alexvesel.com</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/alex_ski.png' %}" class="profile-img" alt="Alex Vesel">
            </div>
        </div>
    </div>
  </div>
{% endblock %}