{% extends 'main.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="justify-content-center">
        <!-- create columns with list of blog projects and previews -->
        <div class="row">
            <div class="col-md-12 mb-4">
                <h1>Blog</h1>
                <p>Here I write about my projects and other things I find interesting.</p>
            </div>

            <div class="col-md-12">
                <a href="{% url 'imitationlearning' %}" class="text-decoration-none basic-text">
                    <div class="mb-4">
                        <div class="">
                            <h5 class="card-title mb-3">Robotic Manipulation at Home via Imitation Learning</h5>
                            <p class="">This article describes some of my initial experiments with real-world robotic manipulation.  While I read many papers on robotic manipulation as part of my Masters at Stanford and worked on hand position sensing for Tesla’s Optimus when I interned there in the summer of 2023, I figured there is no better way to learn about robotic manipulation than to try and do it in the real world</p>
                        </div>
                    </div>
                </a>
            </div>
    </div>
  </div>
{% endblock %}