{% load static %}

<nav class="navbar navbar-light navbar-expand-md sticky-top">
  <a class="navbar-brand navbar-brand-sm" href="/">
    <img src="{% static 'symbol.png' %}" height="40" class="d-inline-block align-top navbar-img-sm" alt="">
  </a>  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center pt-3" id="navbarNav">
    <a class="navbar-brand navbar-brand-md" href="/">
        <img src="{% static 'symbol.png' %}" height="40" class="d-inline-block align-top navbar-img-md" alt="">
    </a>
    <ul class="navbar-nav pt-2">
      <li class="nav-item active">
        <a class="nav-link" href="/">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% static 'files/Alex_Vesel_Resume.pdf' %}" target="_blank">Resume</a>
      </li>
    </ul>
  </div>
</nav>

<script>
    const navLinks = document.querySelectorAll('.navbar-nav .nav-link');

    navLinks.forEach(link => {
    link.addEventListener('mouseenter', () => {
        link.setAttribute('data-before', '[');
        link.setAttribute('data-after', ']');
    });

    link.addEventListener('mouseleave', () => {
        link.removeAttribute('data-before');
        link.removeAttribute('data-after');
    });
    });   

    const navbarToggler = document.querySelector('.navbar-toggler');
    const navbarCollapse = document.querySelector('.navbar-collapse');

    document.addEventListener('click', function(event) {
      const isClickInsideNavbar = navbarCollapse.contains(event.target);
      const isClickOnNavbarToggler = navbarToggler.contains(event.target);

      if (!isClickInsideNavbar && !isClickOnNavbarToggler) {
        navbarCollapse.classList.remove('show');
      }
    });
</script>